spring:
  application:
    name: HOTEL-SERVICE

  datasource:
    url: jdbc:mysql://localhost:3306/hotel
    username: root
    password: system
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true

  config:
    import: optional:configserver:http://localhost:8085

server:
  port: 8082



#eureka:
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
#  instance:
#    prefer-ip-address: true



