spring:
  application:
    name: RATING-SERVICE
  data:
    mongodb:
      uri: mongodb+srv://root:root@myapp.gl9zspa.mongodb.net/?retryWrites=true&w=majority&appName=Myapp
      database: hotel_ratings

  config:
    import: optional:configserver:http://localhost:8085

server:
  port: 8083



#eureka:
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
#  instance:
#    prefer-ip-address: true
